{
    "webaurion":{
        "host":"mycpe.cpe.fr",
        "username":"exemple@cpe.fr",
        "password":"myPassword",
        "years": true, //Get All the years calendar (if false only 2 week)
        "Autonomie": true
    },
    "icsfile":"mycalendar.ics"
}
